* {
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 26, 27);
    color: #fff;
}

.card {
    width: 100%;
    margin: auto;
}

#list {
    list-style-type: none;
    color: black;
}

.list-group-item {
    padding: 1rem;
}

.list-group-item div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.correct {
    color: rgb(22, 177, 22);
}

.wrong {
    color: rgb(230, 22, 22);
}

@media (min-width: 768px) {
    .card {
        width: 30%;
    }
}